
.allModal { 
    width: 85%;
    position: fixed;
    max-height: 80%;
    height: fit-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important; 
    opacity: 1;
    overflow: auto;  
}

.bg-define{
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.bgModal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.title h6{
    font-size: 15px;
}

.trailer{
    width: 80%;
    margin: 10px auto;
}

.modal-info{
    padding: 10px;
    margin: 10px;
    background-color: rgba(129, 129, 129, 0.205);
    border-radius: 10px;
}

.modal-info p{
    max-height: 80%;
    padding: 5px;
}


.modal-info span{
    display: block;
    padding: 5px;
}

.modal-buttons{
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.modal-buttons button{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    background-color: rgba(129, 129, 129, 0.75);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 10px;

}

.modal-buttons button:hover{
    background-color: rgba(0, 0, 0, 0.75);
    transform: scale(1.1);
    transition: .5s ease;
}
